<!-- Extends builds on the code in base.html to avoid repeating code -->
{% extends 'main/base.html' %}

<!-- a block is followed by an endblock. This one is for page title -->
{% block title %}
View List
{% endblock %}


{% block content %}
    <!-- Show name of to do list -->
    <h3>{{ls.name}}</h3>
    <!-- Define a form -->
    <form method="post" action="#">
        <!-- Need csrf_token to allow submit action on post method form -->
        {% csrf_token %}
        
            <!-- Use python code to loop through list elements -->
            {% for item in ls.item_set.all %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    {% if item.complete == True %}
                        <input  type="checkbox" value="clicked" name="c{{item.id}}"  checked>                
                    {% else %}
                        <input  type="checkbox" value="clicked" name="c{{item.id}}">
                    {% endif %}
                    </div>
                </div>
                <!-- Display the items -->
                <input type="text" value="{{item.text}}" class="form-control">
            </div>
            {% endfor %}
        
        <!-- Define buttons at bottom of form -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <!-- Take text from text fied and add to the list -->
                <button type="submit" name="newItem" value="newItem" class="btn btn-success">Add Item</button>
            </div>
            <!-- Allow user to type text into a field -->
            <input type="text" name="new">
        </div>
        
        <!-- save changes of updating checkbox buttons.
                Names are added to dictionary and are mapped out in views.py -->
        <button type="submit" name="save" value="save" class="btn btn-success">Save</button>
    </form>
{% endblock %}

